name: deploy api
on: push

env:
  NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

permissions:
  packages: 'write'
  contents: 'read'
  id-token: 'write'

jobs:
  build-api:
    name: build api
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-yarn-deps
      - uses: oven-sh/setup-bun@v1
      - run: yarn build
        working-directory: apps/api
      - uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          dockerfile: apps/api/Dockerfile
          docker_context: apps/api
          image_suffix: api
          team: tsm
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  build-fihr:
    name: build fihr-app
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-yarn-deps
      - run: yarn build
        working-directory: apps/fihr
      - uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          dockerfile: apps/fihr/Dockerfile
          docker_context: apps/fihr
          image_suffix: fihr
          team: tsm
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  build-standalone:
    name: build standalone-app
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-yarn-deps
      - run: yarn build
        working-directory: apps/standalone
      - uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          dockerfile: apps/standalone/Dockerfile
          docker_context: apps/standalone
          image_suffix: standalone
          team: tsm
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy-api-dev:
    if: github.ref == 'refs/heads/main'
    name: deploy api dev
    environment:
      name: api-dev
    needs: [build-api, build-fihr, build-standalone]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps/api/nais/nais-dev.yaml
          VAR: image=${{ needs.build-api.outputs.image }}

  deploy-fihr-dev:
    if: github.ref == 'refs/heads/main'
    name: deploy fihr-app dev
    environment:
      name: fihr-dev
    needs: [build-api, build-fihr, build-standalone]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps/fihr/nais/nais-dev.yaml
          VAR: image=${{ needs.build-fihr.outputs.image }}

  deploy-standalone-dev:
    if: github.ref == 'refs/heads/main'
    name: deploy standalone-app dev
    environment:
      name: standalone-dev
    needs: [build-api, build-fihr, build-standalone]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps/standalone/nais/nais-dev.yaml
          VAR: image=${{ needs.build-standalone.outputs.image }}
